body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.hero-img {
  background-image: url(https://images.unsplash.com/photo-1586776977607-310e9c725c37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  padding-top: 10em !important;
  padding-bottom: 10em !important;
}